@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-p-100: #FDF0D1;
  --color-p-200: #AC7D88;
  --color-p-300: #85586F;
  --color-p-400: #643843;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
